<style>
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
  </style>
<div class="container">
    <div id="container-left">
        <div class="left">
            <div class="top">
                <h1>Login</h1>
            </div>
            <div class="middle">
                <div>
                    <input class="Account" type="Email Or Phone Number" placeholder="Email Or Phone Number...">
                    <input class="Password" type="Password" placeholder="Password...">
                    <div class="RA">
                        <input type="checkbox">Remember Account
                    </div>
                    <div>
                        <div class="buttom-login">
                            <p>Login</p>
                        </div>
                    </div>
                </div>
                <p>Or</p>
                <div class="Google">
                    <div id="signUpButton">
                        <img src="../../../assets/google.png" alt="" style="margin-left: 20px;">            
                        <p style="color: #737373">Login With Google</p>
                    </div>
                    
                </div>
            </div>

            <div class="bottom">
                <u>Forgot Your Password</u>
            </div>
        </div>

    </div>
    <div id="container-right">
        <img src="../../../assets/Spreadsheets-pana.png" alt="">
    </div>

</div>