*{
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

#container-left{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    
}

.left{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    height: 70%;
    border-radius: 6px;
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 30px;
}

.logo-team{
    margin-right: 13.5rem;
    width: 12rem;
    height: 3rem;
    cursor: pointer;
    margin-bottom: 10px;
}

.slogan{
    font-size: 30px;
    margin-right: 6rem;
}

.top{
    width: 100%;
    height: 15%;
}

.top h1{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 40px;
    color: #E11E5D;
    margin-top: 1.2rem;
}

.middle{
    margin-top: 30px;
    width: 100%;
    height: 80%;

}


#input{
    margin-top:3%;
    font-size: 18px;
    width: 68%;
    height: 3.1rem;
    flex-direction: column;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 15px;
    color: #737373;
    margin-bottom: 1.5rem;
}


.middle p{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: #E11E5D;
    cursor: pointer;
    margin-top: 0.4rem;
 
}

#label{
    
    color: #E11E5D;
    font-size: 20px;
    margin-left: 5.8rem;
}


.buttom-login{
    width: 68%;
    height: 3.1rem;
    background-color: #E11E5D;
    p{
        margin-bottom: 5px;
        font-size: 20px;
        font-size: 20px;
        color: white;
        padding: 10px;
    }
    border-radius: 6px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 0.8rem;
    border: none;
    cursor: pointer;
}

.RA{
    font-size: 18px;
    margin-left: 15%;
    margin-top: 0.5rem;
    color: #E11E5D;
}

.RA input{
    font-size: 18px;
    accent-color: #E11E5D;
}

.Google{
    font-size: 20px;
    width: 68%;
    height: 3.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 0.7rem;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 30px;
    img{
        width: 1.5rem;
        height: 1.5rem;
    }
}

#signUpButton{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    img{
        margin-right: 0.3rem;
    }
    p{
        color: #737373;
        font-size: 20px;
    }
}

.bottom{
    width: 100%;
    height: 15%;
}

.bottom p{
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 15%;
    color: #E11E5D;
    cursor: pointer;
}

#container-right {
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 80%;
        width: 80%;
    }
}

#img{
    width: 700px;
    height: 700px;
}

.slider {
    width: 700px;
    height: 700px;
    float: right;
    margin-right: 60px;
    overflow: hidden;
}

.middle{
    top:23%;
    right:20%;
}

.navigation{
    // position: absolute;
    bottom: 20px;
    right: 20%;
    transform: translateX(-50%);
    display: flex;
    margin-bottom: 6rem;
}
.bar{
    width: 15px;
    height: 15px;
    border: 2px solid #E11E5D;
    margin: 6px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
}

.bar:hover{
    background-color: #E11E5D;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 100%;
    height: 100%;
    display: flex;
    animation: slidecss 15s infinite;
}
.slide{
    transition: 0.6S;
}

#radio1:checked ~ .s1{
    margin-left: 0;
}

#radio2:checked ~ .s1{
    margin-left: -20%;
}

#radio3:checked ~ .s1{
    margin-left: -40%;
}

@keyframes slidecss{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    40%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    60%{
        transform: translateX(-100%);
    }
    
    70%{
        transform: translateX(-200%);
    }
    90%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0);
    }
}








