<div id="container">
    <div class="navbar">
        <app-chat></app-chat>
       
        <!-- <button (click)="upload()">open</button> -->
        <app-navbar></app-navbar>
    </div>
    <div *ngIf="(this.file$|async)?.loading == true">
        <app-loading></app-loading>
    </div>
    <div *ngIf="(this.file$|async)?.loading == false" class="sheet-container">
            <ejs-spreadsheet
            id="spreadsheet" #spreadsheet
            (actionComplete)="ngOnChanges($event)"
            (created)="hide()"
            [openUrl]="this.openUrl" 
            (allowSave)="true"
            [saveUrl]="this.saveUrl">  
        </ejs-spreadsheet>
       
    </div>
   
</div>

