<div id="container">
    <div class="navbar">
        <button (click)="upload()">open</button>
        <app-navbar></app-navbar>
    </div>
    <div *ngIf="(this.file$|async)?.loading == true">
        <app-loading></app-loading>
    </div>
    <div  *ngIf="(this.file$|async)?.loading == false" class="sheet-container">
            <ejs-spreadsheet
            (created)="open()"
            id="spreadsheet" #spreadsheet 
            [openUrl]="this.openUrl" 
            (allowSave)="true"
            [saveUrl]="this.saveUrl">
        </ejs-spreadsheet>
    </div>
</div>

