
<!-- <div class="chat">
    <img src="../../../assets/messenger.png" alt="">
   
</div>
<div class="chatContainer">
    
</div> -->

<div class="container">
  <input type="checkbox" id="show">
  <label for="show" class="show-btn">
    <img src="../../../../../assets/messenger.png" alt="message">
  </label>
  <div class="wrapper">
    <div class="chat-info" *ngFor="let user of this.chatService.participators |slice:0:4" [matTooltip]="user.userName!" [matTooltipShowDelay]="500" style="display: flex; align-items: center;">
      <img *ngIf="user.userId != (this.auth$|async)?.user?.userId" [src]="user?.photoURL" alt="user avatar" class="user-avatar">
    </div>
    <div class="message-container">
      <div *ngFor="let msg of messages" [class]="(msg.from == (this.auth$|async)?.user?.userId) ? 'card' : 'friend'">
        <!-- <p >from:{{msg.from}}</p> -->
        <img *ngIf="(msg.from != (this.auth$|async)?.user?.userId)" [src]="(this.auth$|async)?.user?.photoURL" alt="">
        <p>{{msg.msg}}</p>
        <img *ngIf="(msg.from == (this.auth$|async)?.user?.userId)" [src]="(this.auth$|async)?.user?.photoURL" alt="">

      </div>
     </div>
    <div class="send-message">
      <input (keydown)="send(newMessage,$event)" id="send" type="text" [(ngModel)]="newMessage" placeholder="Enter your message">
      <button (click)="sendMessage(newMessage)">Send</button>
    </div>
  </div>
</div>