.container{
  border-radius: 6px;
}

.show-btn {
  position: absolute;
  z-index: 10;
  left: 95%;
  top: 49.426rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: 0.5s;
  cursor: pointer;
}

.show-btn:hover{
  transition: 0.5s;
  scale: 1.1;
  cursor: pointer;
}

img {
  width: 80%;
  height: 80%;
}

input[type="checkbox"]{
  display: none;
}

.wrapper{
  position: absolute;
  top: 26.426rem;
  left: 91.765rem;
  z-index: 10;
  width: 20rem;
  height: 23rem;
  margin: 80px auto;
  background-color: #f8f9fa;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  // background: #E11E5D;
  border-radius: 6px;
  animation: up 1s ;
  display: flex;
  flex-direction: column;
}
#show:checked ~ .wrapper{
  display: none;
}

.chat-info img{
  padding:0.4rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #e3165b;
  z-index: 1;
}


.chat-info{
  width: 100%;
  height: 12%;
  border-start-end-radius: 6px;
  border-start-start-radius: 6px;
  position: absolute;
  background-color: #e3165b;
}

.message-container{
  font-size: 0.9rem;
  display: block;
  overflow-y: scroll;
  width: 100%;
  height: 80%;
  word-wrap:break-word;
  max-width: inherit;
  margin-top: 2.8rem;
  z-index: 1;
}

.message-container img{
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;

}

.message-container p{
  padding: 0;
  margin: 0;
  max-width: inherit;
  padding: 0 0.2rem 0 0.3rem;
}

.send-message{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-end-start-radius: 6px;
  border-end-start-radius: 6px;
}

.send-message input{
  width: 69%;
  height: 80%;
  border-radius: 6px;
  border: none;
  outline: none !important;
  padding-left: 0.5rem;
}

.send-message button{
  border: none;
  width: 20%;
  height: 90%;
  color: white;
  background-color: #e3165b;
  font-weight: 600;
  border-radius: 6px;
}

.card {
  min-width: fit-content;
  max-width: 15rem;
  clear: both;
  float: right;
  // padding: 5px;
  border-radius: 10px;
  background-color: #e3165b;
  color: #f8f9fa;
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5rem;
  
}
.friend {
  min-width: fit-content;
  max-width: 15rem;
  clear: both;
  float: left;
  // padding: 5px;
  border-radius: 10px;
  background-color: rgb(217 217 217 / 76%);
  width: fit-content;
  display: flex;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5rem;
}

.content{
  display: flex;
  width: fit-content;
  height: auto;
  justify-content: center;
  align-items: center;
}



@keyframes up{
  50%{
    scale: 1.01;
  }
  100%{
    scale: 1;
  }
}