<!-- <button type="button" (click)="this.login()">
  Log in with Google
</button> -->


<div id="container">
  <div class="left-navbar">
    <div class="logo">
      <img src="../../../assets/logo/logo.png">
    </div>
  </div>
  <div class="right-navbar">
    <div class="contact-info-login">
      <div class="contact">
        <button>Liên hệ</button>
      </div>
      <div class="info">
        <button>Về chúng tôi</button>
      </div>
      <div class="login">
        <button (click)="login()">Đăng nhập</button>
      </div>
    </div>
  </div>
</div>