<!-- Chua load
<div class="histories-contents">
  <app-loading *ngIf="(this.files$ | async)?.loading == true"></app-loading>
</div>
<div
  infinite-scroll
  (scrolled)="onScrollDown($event)"
  class="divTo"
  *ngIf="(this.files$ | async)?.loading == false"
>
  <div *ngFor="let f of (this.files$ | async)?.files" class="divToVua">
    <img
      class="histories-contents-file-logo"
      src="../../../assets/home_logos/microsoft-excel-logo.png"
    />
    <span (click)="selectFile(f.fileId)" class="histories-contents-title">{{
      f.title
    }}</span>
    <span class="histories-contents-owner">{{ f.createdBy }}</span>
    <span class="histories-contents-date">{{ f.createdDate }}</span>
    <button
      mat-icon-button
      (click)="getId(f.fileId)"
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        (click)="openDialog()"
        mat-menu-item
        *ngIf="canRename(f.ownerId) == false"
        disabled
      >
        <mat-icon>text_fields </mat-icon>

        <span>Rename</span>
      </button>
      <button
        (click)="openDialog()"
        mat-menu-item
        *ngIf="canRename(f.ownerId) == true"
      >
        <mat-icon>text_fields</mat-icon>
        <span>Rename</span>
      </button>
      <button mat-menu-item (click)="deleleFile(f.fileId)">
        <mat-icon>delete_outline</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
</div>

 -->

<!-- Chua load -->
<div class="histories-contents">
  <app-loading *ngIf="(this.files$ | async)?.loading == true"></app-loading>
</div>
<app-wellcome
  *ngIf="
    (this.files$ | async)?.loading == false &&
    (this.files$ | async)?.files?.length == 0
  "
></app-wellcome>
<div
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScrollDown($event)"
  class="divTo"
  *ngIf="(this.files$ | async)?.loading == false "
>
  <div *ngFor="let f1 of (this.files$ | async)?.files" class="divToVua">
    <img
      class="histories-contents-file-logo"
      src="../../../../../assets/logo/E-logo.png"
    />
    <span (click)="selectFile(f1.fileId)" class="histories-contents-title">{{
      f1.title
    }}</span>
    <span class="histories-contents-owner">{{ f1.createdBy }}</span>
    <span class="histories-contents-date">{{ f1.createdDate }}</span>
    <button
      mat-icon-button
      (click)="getId(f1.fileId)"
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        (click)="openDialog()"
        mat-menu-item
        *ngIf="canRename(f1.ownerId) == false"
        disabled
      >
        <mat-icon>text_fields </mat-icon>

        <span>Rename</span>
      </button>
      <button
        (click)="openDialog()"
        mat-menu-item
        *ngIf="canRename(f1.ownerId) == true"
        (click)="getId(f1.fileId)"
      >
        <mat-icon>text_fields</mat-icon>
        <span>Rename</span>
      </button>
      <button mat-menu-item (click)="deleleFile(f1.fileId)">
        <mat-icon>delete_outline</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
</div>
