<div class="templates-contain">
  <div class="template-top">
    <span>Start a new sheet</span>
    <div>
      <span>Template library</span>
      <img class="logos" src="../../../assets/home_logos/updown.png" />
      <img class="logos" src="../../../assets/home_logos/threedots.png" />
    </div>
  </div>
  <div class="template-bottom">
    <div *ngFor="let a of templates">
      <p class="background">
        <img
          class="pic"
          src="../../../assets/home_logos/microsoft-excel-logo.png"
        />
      </p>
      <p class="title"></p>
    </div>
  </div>
</div>
