<div class="templates-contain">
  <div class="template-top">
    <span>Start a new sheet</span>
    <div>
      <span>Template library</span>
      <img class="logos" src="../../../assets/home_logos/updown.png" />
    </div>
  </div>
  <div class="template-bottom">
    <div *ngFor="let a of templates">
      <p (click)="startNewFile()" class="background">
        <img (click)="startNewFile()" class="pic" src="../../../assets/home_logos/microsoft-excel-logo.png"/>
      </p>
      <p class="title">{{ a.name }}</p>
    </div>
  </div>
</div>
