<app-navbar> </app-navbar>
<app-template></app-template>

<div class="histories-contain">
  <div class="histories-fillters">
    <div class="histories-fillters-time">Recently</div>
    <div class="histories-fillters-owner">
      <select
        (change)="onChange($event)"
        class="histories-fillters-owner-options"
      >
        <option *ngFor="let choice of optionChoices" [value]="choice.value">
          {{ choice.name }}
        </option>
      </select>
    </div>
    <div class="histories-fillters-date">Last opened by me</div>
    <div class="histories-fillters-options">
      <img
        class="histories-fillters-logos"
        src="../../../../../assets/home_logos/grid.png"
      />
      <img
        class="histories-fillters-logos"
        src="../../../../../assets/home_logos/az.png"
      />
      <img
        class="histories-fillters-logos"
        src="../../../../../assets/home_logos/folder.png"
      />
    </div>
  </div>
  <div
    *ngFor="let f of (this.files$ | async)?.files"
    class="histories-contents"
  >
    <img
      class="histories-contents-file-logo"
      src="../../../assets/home_logos/microsoft-excel-logo.png"
    />
    <span class="histories-contents-title">{{ f.title }}</span>
    <span class="histories-contents-owner">{{ f.createdBy }}</span>
    <span class="histories-contents-date">{{ f.createdDate }}</span>
    <img
      class="histories-contents-options"
      src="../../../assets/home_logos/threedots.png"
    />
  </div>
</div>
