<app-navbar> </app-navbar>
<div class="templates-contain">
  <div class="template-top">
    <span>Start a new sheet</span>
    <span>Template library</span>
  </div>
  <div class="template-bottom">
    <div *ngFor="let a of this.file$">
      <p class="pic"><img src="../../../assets/home_logos/plus.png" /></p>
      <p>{{a.title}</p>
    </div>
  </div>
</div>
<div class="histories-contain">
  <div class="fillters">
    <div>
      <span class="fillters-leftside">Recently</span>
    </div>

    <div>
      <span class="fillters-rightside"
        >Owned by people
        <img
          class="logos"
          src="../../../../../assets/home_logos/down_arrow.png"
        />
      </span>

      <span class="fillters-rightside">Last opened by me</span>
      <img class="logos" src="../../../../../assets/home_logos/grid.png" />
      <img class="logos" src="../../../../../assets/home_logos/az.png" />
      <img class="logos" src="../../../../../assets/home_logos/folder.png" />
    </div>
  </div>
  <div class="histories-content"></div>
</div>
<div class="histories-bottom">
  <div class="left"></div>
  <div class="right">
    <button class="create-file">
      <img class="create-logo" src="../../../assets/home_logos/plus.png" />
    </button>
  </div>
</div>
