<!-- <app-navbar> </app-navbar>
<div class="templates-contain">
  <div class="template-top">
    <span>Start a new sheet</span>
    <div>
      <span>Template library</span>
      <img class="logos" src="../../../assets/home_logos/updown.png" />
      <img class="logos" src="../../../assets/home_logos/threedots.png" />
    </div>
  </div>
  <div class="template-bottom">
    <div *ngFor="let a of this.file$">
      <p class="background">
        <img
          class="pic"
          src="../../../assets/home_logos/microsoft-excel-logo.png"
        />
      </p>
      <p class="title">{{ a.title }}</p>
    </div>
  </div>
</div>

<div class="histories-contain">
  <div class="histories-fillters">
    <div class="histories-fillters-time">Recently</div>
    <div class="histories-fillters-owner">
      <select class="histories-fillters-owner-options">
        <option value="OwnedByPeople">Owned by people</option>
        <option value="OwnedByMe">Owned by me</option>
        <option value="NotOwnedByPeople">Not owned by people</option>
      </select>
    </div>
    <div class="histories-fillters-date">Last opened by me</div>
    <div class="histories-fillters-options">
      <img
        class="histories-fillters-logos"
        src="../../../../../assets/home_logos/grid.png"
      />
      <img
        class="histories-fillters-logos"
        src="../../../../../assets/home_logos/az.png"
      />
      <img
        class="histories-fillters-logos"
        src="../../../../../assets/home_logos/folder.png"
      />
    </div>
  </div>
  <div *ngFor="let f of this.file$" class="histories-contents">
    <img
      class="histories-contents-file-logo"
      src="../../../assets/home_logos/microsoft-excel-logo.png"
    />
    <span class="histories-contents-title">{{ f.title }}</span>
    <span class="histories-contents-owner">{{ f.createdBy }}</span>
    <span class="histories-contents-date">{{ f.createdDate }}</span>
    <img
      class="histories-contents-options"
      src="../../../assets/home_logos/threedots.png"
    />
  </div>
</div> -->
