#container {
  width: 30rem;
  height: 30rem;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.search {
  width: 85%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  background-color: #f5f5f5;
  border-radius: 6px;
}

.search span {
  padding-left: 0.5rem;
}

.search input {
  width: 90%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: medium;
  padding-left: 1rem;
}

.search input::placeholder {
  font-size: medium;
  // padding-left: 1rem;
}

.user-info {
  width: 85%;

  margin-top: 1.5rem;
}

.name-email p {
  margin: 0;
  padding: 0;
}

.name-email {
  margin: auto 0 auto 1rem;
}

.avt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: medium;
}

.email {
  font-size: small;
  color: #737373;
}

.avt img {
  width: 2rem;
  eight: 2rem;
  border-radius: 50%;
  margin: auto 0;
}

.content {
  width: 100%;
  height: 2.5rem;
  display: flex;
  background-color: #fff;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  margin-top: 5%;
}

.content:hover {
  scale: 1.01;
  font-size: large;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s;
}

.invite span {
  margin: 0;
  padding: 0;
}

.invite {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
}
