<div id="container">
  <div class="content">
    <div class="left-side">
      <div class="left-side-content">
        <div (click)="navigateToHome()" class="logo">
          <img src="../../../../../assets/logo/logoExcel.png" alt="logo" />
        </div>
        <div class="file-name-and-tools">
          <div class="file-name">
            <h2>Trung gay lọ</h2>
          </div>
          <ejs-menu>
            <e-menu-items>
                <e-menu-item text="Tải lên">
                  <ul></ul>
                </e-menu-item>
                <e-menu-item text="Lưu"></e-menu-item>
                <e-menu-item text="Lưu dưới dạng"></e-menu-item>
            </e-menu-items>
          </ejs-menu>
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="right-side-content">
        <div class="share">
          Chia sẻ
        </div>
        <div class="profile">
          <div class="avt">
            <img [src]="this.authService.userInfo?.photoURL" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <button (click)="openN()">open</button> -->