<div id="container">
  <div class="content">
    <div class="left-side">
      <div class="left-side-content">
        <div class="logo">
          <img [routerLink]="['/']" src="../../../../../assets/logo/E-logo.png" alt="logo" />
        </div>
        <div class="file-name-and-tools">
          <div class="file-name">
            <!-- <h2 *ngIf="this.fileService.currentFile != null">{{this.fileService.currentFile?.title}}</h2> -->
            <div *ngIf="isEditing" class="editor">
              <input type="text" name="value" autofocus [(ngModel)]="pendingValue" (keydown.Enter)="processChanges()"
                (keydown.Meta.Enter)="processChanges()" (keydown.Escape)="cancel()" />
              <button (click)="processChanges()">
                Save
              </button>
              <a (click)="cancel()" (keydown.Enter)="cancel()" tabindex="0">
                Cancel
              </a>
            </div>
            <div *ngIf="( ! isEditing )" (click)="edit()">
              <h3>{{this.title}}</h3>
            </div>
          </div>
          <ejs-menu (select)="openN($event)" #menu id="menu" [items]=menuItems>
          </ejs-menu>
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="right-side-content">
        <div (click)="share()" class="share">
          Chia sẻ
        </div>
        <div class="profile">
          <div class="avt">
            <img [src]="this.authService.userInfo?.photoURL" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <button (click)="openN()">open</button> -->