#navbar {
  width: 100%;
  height: 8%;
}

#body {
  display: flex;
  width: 100vw;
  height: 92%;
}

.left-body {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  width: fit-content;
  height: fit-content;
  margin: 12rem 0 3rem 8rem;
}

.title h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.content {
  width: fit-content;
  height: fit-content;
  margin-left: 8rem;
  color: #7a7a7a;
}

.start-trial {
  margin-top: 3.5rem;
  margin-left: 8rem;
}

.start-trial button {
  padding: 1.1rem 0;
  width: 8rem;
  margin-right: 2.5rem;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
}

.start {
  background-color: #1e84e5;
  color: #fff;
}

.start:hover {
  background-color: #0469bd;
  cursor: pointer;
}

.trial {
  color: #1e84e5;
}

.trial:hover {
  background-color: #e1e1e1;
  cursor: pointer;
}

.right-body {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo-sheet {
  width: 80%;
  height: 50%;
  background-color: #1e84e5;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.back-ground {
  width: 95%;
  height: 26rem;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 40px 50px;
  border-radius: 5px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-ground img {
  width: 94%;
  height: 92%;
  border-radius: 5px;
}
