* {
  font-family: 'Source Sans Pro', sans-serif;

}

.container {
  background-color: #f8f9fa;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.left-right {

  display: flex;
  justify-content: space-between;
}

.font {
  padding-top: 17rem;
  margin-left: 5.375rem;
  color: #737373;

}

#make_data {
  margin-bottom: 1.25rem;
}

#text {
  font-size: 50px;
  font-weight: bolder;
}

#EXCELENT {
  margin-top: 2.5rem;
  font-size: 4.75rem;
  color: #E11E5D;
  font-weight: bolder;
}

.text2 {
  font-size: 1.5rem;
}

#create {
  margin-top: 6.25rem;
}

#online {
  margin-bottom: 1.563rem;
}

#buttonAgency {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #f8f9fa;
  margin-right: 2rem;
  padding: 0.625rem;
  border: none;
  border-radius: 6px;
  background-color: #E11E5D;

  cursor: pointer;
  transition: 0.5s;
}

#buttonAgency:hover {
  background-color: #FF2B72;
}

#buttonAccess {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #f8f9fa;
  padding: 0.625rem;
  border: none;
  border-radius: 6px;
  background-color: #E11E5D;

  cursor: pointer;
  transition: 0.5s;
}

#buttonAccess:hover {
  background-color: #FF2B72;
}


.image {

  display: flex;
  justify-content: space-around;
}

#image {
  position: absolute;
  margin-right: 42rem;
  margin-top: 20.7rem;
  width: 650px;
}

#image2 {
  margin-right: 52rem;
  margin-top: 3rem;
  border: 1.2rem #E11E5D solid;
  border-radius: 6px;
  position: absolute;
  // margin-top: 5rem;
}

#image3 {
  margin-top: 19rem;
  margin-right: 80%;
  border: 1rem #E11E5D solid;
  border-radius: 6px;
  position: absolute;
}

// @keyframes image {
//   from{
//     transform: translateY(15px) scale(1.1);
//     opacity: 0%;
// }
// to{

//     transform: translateY(0px) scale(1);
//     opacity: 100%;
// }
// }

// // #image{
// //   animation-name: image;
// //     animation-duration: 1.2s;
// //     animation-timing-function: ease-in-out;
// //     animation-delay: 1.3s;
// // }


@keyframes image3 {
  from {
    transform: translateY(15px) scale(1.1);
    opacity: 0%;
  }

  to {
    transform: translateY(0px) scale(1);
    opacity: 100%;
  }
}

#image3 {
  animation-name: image3;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.3s;
}

@keyframes image2 {
  from {
    transform: translateY(15px) scale(1.1);
    opacity: 0%;
  }

  to {

    transform: translateY(0px) scale(1);
    opacity: 100%;
  }
}

#image2 {
  animation-name: image2;
  animation-duration: 1.4s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.3s;

}

@keyframes text {
  from {
    transform: translateY(15px);
    opacity: 0%;
  }

  to {
    transform: translateY(0px);
    opacity: 100%;
  }
}

#text {
  animation-name: text;
  animation-duration: 1.1s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.3s;

}

@keyframes EXCELENT {
  from {
    transform: translateY(15px);
    opacity: 0%;
  }

  to {
    transform: translateY(0px);
    opacity: 100%;
  }
}

#EXCELENT {
  animation-name: EXCELENT;
  animation-duration: 1.15s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.3s;
  
}

@keyframes text2 {
  from {
    transform: translateY(15px);
    opacity: 0%;
  }

  to {
    transform: translateY(0px);
    opacity: 100%;
  }
}

.text2 {
  animation-name: text2;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.3s;

}



@keyframes button {
  from {
    transform: translateY(15px);
    opacity: 0%;
  }

  to {
    transform: translateY(0px);
    opacity: 100%;
  }
}

.button {
  animation-name: button;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.3s;
}