<!-- <div id="navbar">
  <app-navbar-one></app-navbar-one>
</div>
<div id="body">
    <div class="left-body">
        <div class="title">
          <h1 style="color:#0469BD;">Giải pháp hỗ trợ</h1>
          <h1 style="color: #57B7F2;">tínH toán & uy TÍNh</h1>
        </div>

        <div class="content">
          <p>Chúng tôi cung cấp giải pháp tính toán và lưu trữ <br>
              một cách tiện lợi nhất có thể</p>
        </div>

        <div class="start-trial">
          <button class="start">Bắt đầu</button>
          <button class="trial">Dùng thử</button>
        </div>
    </div>
    <div class="right-body">
      <div class="demo-sheet">
        <div class="back-ground">
          <img src="../../../assets/demo-sheet.jpg" alt="">
        </div>
      </div>
    </div>
</div> -->