.grid-mode-contain {
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: center;
}

.grid-mode-content {
  display: inline-block;
  margin-bottom: 1.25rem;
  margin-right: 1.25rem;
  border: 1px solid #dfe1e5;
  border-radius: 6px;
}

.grid-mode-content-background {
  width: 13rem;
  height: 9.8125rem;
  border-top: 1px solid #dfe1e5;
  border-right: 1px solid #dfe1e5;
  border-left: 1px solid #dfe1e5;
}

.grid-mode-content-info {
  width: 11.5rem;
  height: 2.75rem;
  border-top: 1px solid #dfe1e5;
  padding: 1rem 0.5rem 0.875rem 1rem;
}

.grid-mode-content-info-title {
  width: 11.375rem;
  height: 1.125rem;
  margin: 0 0 0 0.125rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: #737373;
}

.grid-mode-content-info-others {
  width: 11.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  padding: 0.125rem;
}

.grid-mode-content-info-others-time {
  width: 7.270625rem;
  height: 1.5rem;
  font-size: 0.75rem;
  color: #737373;
  display: flex;
  justify-content: start;
  align-items: center;
}
.grid-mode-content-info-others-option {
  width: 1.85rem;
  height: 1.85rem;
  padding: 0.125rem;
}

.grid-mode-content-info-others-logo {
  width: 1.5rem;
  height: 1.5rem;
}
